 <ul class="breadcrumb">
          <li>
            <a href="#" class="active">Home</a>
          </li>
          <li><a href="#mycampus">Campus</a></li>
          <li>Examination Management</li>
        </ul>
        <div class="page-title">
          <i onclick="window.location.href='#mycampus'" class="icon-custom-left"></i>
          <h3>Examination Management</h3>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="grid simple ">
              <div class="grid-title no-border">
                <h4>See Exam Full Details</h4>
                <div class="tools">
                  <a href="javascript:;" class="collapse"></a>
                  <a href="#grid-config" data-toggle="modal" class="config"></a>
                  <a href="javascript:;" class="reload"></a>
                  <a href="javascript:;" class="remove"></a>
                </div>
              </div>
              <div class="grid-body no-border">
                <p class="col-sm-12">
                  <select id="select-category">
                    <option>Select Category</option>
                    <option>PHYSICS</option>
                    <option>CHEMISTRY</option>
                  </select>
                  <button class="btn btn-danger btn-cons" style="float:right">Add Exam</button>
                </p>

                <table class="table no-more-tables">
                  <thead>
                    <tr>
                      <th>Exam Date</th>
                      <th>Subject</th>
                      <th>Type</th>
                      <th>Medium</th>
                      <th>Roll No</th>
                      <th>Type</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="v-align-middle">
                        10-10-2015
                      </td>
                      <td class="v-align-middle">Maths</td>
                      <td class="v-align-middle">
                        Practical
                      </td>
                      <td>
                        <span class="muted">OFFLINE</span>
                      </td>
                      <td class="v-align-middle">
                        PROF SHARMA
                      </td>
                      <td class="v-align-middle">
                        E 435
                      </td>
                    </tr>
                    <tr>
                      <td>
                        10-10-2015
                      </td>
                      <td>
                        <div class="inline">Biology
                      </td>
                      <td>
                        <span class="muted">Practical</span>
                      </td>
                      <td>
                        <span class="muted">OFFLINE</span>
                      </td>
                      <td>
                        SRI NATHAN
                      </td>
                      <td class="v-align-middle">
                        C 101
                      </td>
                    </tr>
                    <tr>
                      <td>
                        10-10-2015
                      </td>
                      <td>Physics</td>
                      <td class="v-align-middle">
                        Written
                      </td>
                      <td>
                        <span class="muted">OFFLINE</span>
                      </td>
                      <td>
                        PROF SHARMA
                      </td>
                      <td class="v-align-middle">
                        B102
                      </td>
                    </tr>
                    <tr>
                      <td>
                        10-10-2015
                      </td>
                      <td>Chemistry</td>
                      <td class="v-align-middle">Practical
                      </td>
                      <td>
                        <span class="muted">ONLINE</span>
                      </td>
                      <td>
                        SRI NATHAN
                      </td>
                      <td class="v-align-middle">
                        A 101
                      </td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
            </div>
          </div>

        </div>
