

<section class="content">
<div ng-if="role == 'teacher' || role == 'student'" class="content sm-gutter">
<div class="col-sm-6 col-md-6 no-padding"   >

      <div class=" col-sm-12 col-md-12"  ratio="1.5" data-ratio="true"  style="padding:6px 5px 3px 0px;" >
        <div class="white" >

        <div class=" green cover-pic-wrapper">

          <img alt=""class="image-responsive-width hover-effect-img" src="../assets/img/cover.png">
        </div>
        <div class=" white">

                            <div class="row">
                                <div class="col-xs-4 col-md-4 col-sm-4">
                                    <div class="user-profile-pic"  >
                                        <img alt="" src="../assets/img/profiles/d2x.jpg" class="image-responsive-width hover-effect-img">
                                    </div>
                                     <div class="user-mini-description">
                                         <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                                        <div class="profile-pic text-center">
                                          <div class="col-xs-6 col-sm-6 ">
                                            <img alt="Discipline" class="image-responsive-width" src="../assets/img/discipline.png">
                                          </div>

                                            <span class="text-data semi-bold points">: 15</span>

                                            </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="col-xs-8 col-md-8 user-description-box  col-sm-8">
                                    <h3 class="semi-bold no-margin">John Smith</h3>
                                    <h6>This is Photoshop's version  of Lorem Ipsum.</h6>
                                     <button class="btn btn-primary btn-cons btn-email" type="button"><i class="fa fa-envelope"></i>E-mail</button>
                                      <button class="btn btn-success btn-cons btn-calendar" type="button"><i class="fa fa-calendar"></i>Calendar</button>
                                      <button class="btn btn-success btn-cons btn-attendance" type="button"><i class="fa fa-users"></i>Attendance</button>


                                </div>

                            </div>

                        </div>
        </div>

      </div>


              <!-- BEGIN ANIMATED TILE -->
      <div class="col-md-8  col-sm-8  " ratio="2" data-ratio="true" style="height: 205.5px;padding:5px 5px 3px 0px;">
        <div class=" lightred " style="height:100%">
          <div class="p-t-40 p-l-20 p-r-20 p-b-20">
            <div  class="col-xs-4 col-sm-4" >

                <img class="hover-effect-img image-responsive-width"  alt="" src="../assets/img/services.png">
            </div>
            <div  class="col-xs-8 col-sm-8" >
              <div class="sevicespadding">

              <h3 class="text-white semi-bold no-margin">SERVICES</h3>
            </div>
            </div>
          </div>

        </div>

      </div>
              <!-- END ANIMATED TILE -->

              <!-- BEGIN ANIMATED TILE -->

      <div class="col-md-4 col-sm-4  "   data-aspect-ratio="true"  style="height: 208px;padding:5px;">
        <div data-mode="carousel" data-delay="4000" data-speed="750" class="slide ha  carousel">
          <div class="ha tiles lightblue slide active">
            <div class="p-t-20 p-l-20 p-r-20 p-b-20">
              <div  class="col-sm-12" >

                  <img class="hover-effect-img  "  alt="" src="../assets/img/communication.png">
              </div>
            </div>
            <div class="overlayer bottom-left fullwidth p-t-20 p-l-10 p-r-10 ">
              <div class="overlayer-wrapper">
                <div class="user-comment-wrapper communication-wraper">
                <span class="text-white semi-bold no-margin communication-title">Communications</span>

                  <div class="clearfix  m-b-10"></div>
                </div>
              </div>
            </div>
          </div>
          </div>
      </div>
              <!-- END ANIMATED TILE -->

</div>
<div class="   col-sm-6 col-md-6 no-padding"     >

              <!-- BEGIN ANIMATED TILE -->
              <div  class="col-md-6 col-sm-6  mycampus_page" data-aspect-ratio="true"  style="height: 268px;padding:5px;">
                <div data-mode="carousel" data-delay="6000" data-speed="750" class="live-tile slide ha  carousel">
                  <div class="ha tiles slide active">
                    <div class="p-t-20 p-l-20 p-r-20 p-b-20 smallimg"  style="position:absolute">
                       <a href="#mycampus">   <img  src="../assets/img/my_campus.png"></a>
                    </div>

                    <div class="overlayer bottom-left fullwidth">
                      <div class="overlayer-wrapper">
                        <div class="tiles gradient-black p-l-20 p-r-20 p-b-20 p-t-20">
                        <h3 class="text-white semi-bold no-margin">MY CAMPUS</h3>
                        </div>
                      </div>
                    </div>
                    <img class="image-responsive-width xs-image-responsive-width  hover-effect-img" alt="" src="../assets/img/my_campus_img.png"> </div>

                </div>

              </div>
              <!-- END ANIMATED TILE -->
              <div class="col-md-6 col-sm-6  "  data-aspect-ratio="true" style="height: 268px;padding:5px;">
                <div data-mode="carousel" data-delay="4000" data-speed="750" class="slide ha  carousel">
                  <div class="ha tiles orange slide active">
                    <div class="p-t-20 p-l-20 p-r-20 p-b-20">
          <div  class="col-sm-6" >

              <img class="hover-effect-img"  alt="" src="../assets/img/facilities.png">
          </div>
                    </div>
                    <div class="overlayer bottom-left fullwidth p-t-20 p-l-10 p-r-10 ">
                      <div class="overlayer-wrapper">
                        <div class="user-comment-wrapper">
                        <h3 class="text-white semi-bold no-margin">Facilities</h3>

                          <div class="clearfix  m-b-10"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
            </div>

              <!-- BEGIN ANIMATED TILE -->
              <div class="col-md-6  col-sm-6  "  data-aspect-ratio="true" style="height: 268px;padding:5px;">
                <div data-mode="carousel" data-delay="6000" data-speed="750" class="live-tile slide ha  carousel">
                    <div class="ha tiles slide active">
                      <div class="p-t-20 p-l-20 p-r-20 p-b-20 smallimg" style="position:absolute">

                          <img  src="../assets/img/campus_diaries.png">
                      </div>
                      <div class="overlayer bottom-left fullwidth">
                        <div class="overlayer-wrapper">
                          <div class="tiles gradient-black p-l-20 p-r-20 p-b-20 p-t-20">
                            <h3 class="text-white semi-bold no-margin">CAMPUS DIARIES</h3>
                          </div>
                        </div>
                      </div>
                      <img class="image-responsive-width xs-image-responsive-width  hover-effect-img" alt="" src="../assets/img/campus_diaries_img.png"> </div>

                  </div>

            </div>
              <!-- END ANIMATED TILE -->


              <!-- BEGIN ANIMATED TILE -->
              <div  class="col-md-6  col-sm-6 "   data-aspect-ratio="true"style="height: 268px;padding:5px;">
                <div data-mode="carousel" data-delay="4000" data-speed="750" class="slide ha  carousel">
                  <div class="ha tiles green slide active">
                    <div class="p-t-20 p-l-20 p-r-20 p-b-20">
                      <div  class="col-sm-6" >

                          <img class="hover-effect-img "  alt="" src="../assets/img/department.png">
                      </div>
                    </div>
                    <div class="overlayer bottom-left fullwidth p-t-20 p-l-10 p-r-10 ">
                      <div class="overlayer-wrapper">
                        <div class="user-comment-wrapper">
                        <h3 class="text-white semi-bold no-margin">My Department</h3>

                          <div class="clearfix  m-b-10"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>

              <!-- END ANIMATED TILE -->


</div>
</div>
<div ng-if="role == 'admin'" class="content sm-gutter">

               <div class="page-title">
               
               <h3>Admin</h3>
             </div>
  <div class="   col-sm-6 col-md-6 no-padding"   >

      <div class=" col-sm-12 col-md-12"  ratio="2" data-ratio="true"  style="height: 268px;padding:6px 5px 3px 0px;" >
        <!-- BEGIN BLOG POST BIG IMAGE WIDGET -->
        <div class="tiles overflow-hidden full-height tiles-overlay-hover m-b-10 widget-item" >
         
          <div class="overlayer tiles-overlay auto blue">
            <div class="overlayer-wrapper  p-t-20 p-l-20 p-r-20 p-b-20">     <a href="#mycampus">
			<img  src="../assets/img/my_campus.png">
</a>
              <p class="p-t-20 text-white-opacity"></p>

              <p class="p-t-20"> <h3 class="text-white">My Campus</h3></p>
            </div>
          </div>
          <div class="overlayer bottom-left fullwidth">
            <div class="overlayer-wrapper">
              <div class="tiles gradient-grey p-l-20 p-r-20 p-b-20 p-t-20">

              </div>
            </div>
          </div>
           <img src="../assets/img/campus/student_profile_img.png" data-src="../assets/img/campus/student_profile_img.png" data-src-retina="../assets/img/campus/student_profile_img.png" alt="" class="image-responsive-width hover-effect-img">
          <!-- END BLOG POST BIG IMAGE WIDGET -->
        </div>

      </div>
      <!-- BEGIN ANIMATED TILE -->
<div class="col-md-8  col-sm-8  " ratio="2" data-ratio="true" style="height: 268px;padding:5px 5px 3px 0px;"  style="cursor:pointer">
<div class=" tiles lightblue " style="height:100%">
  <div class="p-t-40 p-l-20 p-r-20 p-b-20">
    <div  class="col-xs-4 col-sm-4" >

        <img class="hover-effect-img "  alt="" src="../assets/img/admin/departments.png">
    </div>
    <div  class="col-xs-8 col-sm-8" >
      <div class="sevicespadding">

      <h3 class="text-white semi-bold no-margin">Departments</h3>
    </div>
    </div>
  </div>

</div>

</div>
      <!-- END ANIMATED TILE -->

      <!-- BEGIN ANIMATED TILE -->


      <!-- END ANIMATED TILE -->


    </div>
<div class="   col-sm-6 col-md-6 no-padding"     >
          <div class="col-md-6 col-sm-6  "  data-aspect-ratio="true" style="height: 268px;padding:5px;"  style="cursor:pointer">
            <div data-mode="carousel" -delay="4000" data-speed="750" class="slide ha  carousel">
              <div class="ha tiles green slide active">
                <div class="p-t-20 p-l-20 p-r-20 p-b-20">
          <div  class="col-sm-6" >

      <a href="#permissions" ng-click="go('permissions')" >    <img class="hover-effect-img "  alt="" src="../assets/img/admin/set_permissions.png"></a>
          </div>
                </div>
                <div class="overlayer bottom-left fullwidth p-t-20 p-l-10 p-r-10 ">
                  <div class="overlayer-wrapper">
                    <div class="user-comment-wrapper">
                  <a href="#permissions" ng-click="go('permissions')" >  <h3 class="text-white semi-bold no-margin">Set Permissions</h3></a>
                      <div class="clearfix  m-b-10"></div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
          </div>
              <!-- BEGIN ANIMATED TILE -->
              <div class="col-md-6 col-sm-6  "  data-aspect-ratio="true" style="height: 268px;padding:5px;"  style="cursor:pointer">
                <div data-mode="carousel" -delay="4000" data-speed="750" class="slide ha  carousel">
                  <div class="ha tiles orange slide active">
                    <div class="p-t-20 p-l-20 p-r-20 p-b-20">
              <div  class="col-sm-6" >

           <a href="#admins" ng-click="go('admins')">   <img class="hover-effect-img "  alt="" src="../assets/img/admin/users.png"></a>
              </div>
                    </div>
                    <div class="overlayer bottom-left fullwidth p-t-20 p-l-10 p-r-10 ">
                      <div class="overlayer-wrapper">
                        <div class="user-comment-wrapper">
                          <a href="#admins" ng-click="go('admins')" >   <h3 class="text-white semi-bold no-margin">Users</h3></a>
                          <div class="clearfix  m-b-10"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
              </div>
              <!-- END ANIMATED TILE -->



</div>
</section>