<!-- BEGIN PlACE PAGE CONTENT HERE -->
                <ul class="breadcrumb">
                   <li>
                 <a href="#" class="active"><p>Home</p></a>
                   </li>
                   <li><a href="#mycampus" >Campus</a></li><li>Inventory Management</li>
               </ul>
               <div class="page-title">
               <i onclick="window.location.href='#mycampus'"class="icon-custom-left"></i>
               <h3>Inventory Management</h3>
             </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="grid simple ">
                        <div class="grid-title no-border">
                            <h4>See details of each order item</h4>
                            <div class="tools">	<a href="javascript:;" class="collapse"></a>
              <a href="#grid-config" data-toggle="modal" class="config"></a>
              <a href="javascript:;" class="reload"></a>
              <a href="javascript:;" class="remove"></a>
                            </div>
                        </div>
                        <div class="grid-body no-border">
                          <p class="col-sm-12"><select id="select-category"><option>Select Category</option></select>
                            <button class="btn btn-danger btn-cons" style="float:right">Add Order Details</button></p>

                                <table class="table no-more-tables">
                                    <thead>
                                        <tr>
                                            <th >Order Date</th>
                                            <th >Name</th>
                                            <th >Qty</th>
                                            <th >Faculity Name</th>
                                            <th >Total</th>
                                            <th >Status</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="v-align-middle">
                                                10-10-2015
                                            </td>
                                            <td class="v-align-middle">Chack Pieces</td>
                                            <td class="v-align-middle">
                                              5
                                            </td>
                                            <td><span class="muted">                                              PROF SHARMA</span>
                                            </td>
                                            <td class="v-align-middle">
                                              5
                                            </td>
                                            <td class="v-align-middle">
                                              Approved
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                10-10-2015
                                            </td>
                                            <td><div class="inline">Duster
                                            </td>
                                            <td><span class="muted">5</span>
                                            </td>
                                            <td><span class="muted">SRI Nathan</span>
                                            </td>
                                            <td>
                                              10                                            </td>
                                            <td class="v-align-middle">
                                              Approved                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                10-10-2015
                                            </td>
                                            <td>Benches</td>
                                            <td class="v-align-middle">
                                              1
                                            </td>
                                            <td><span class="muted">PROF SHARMA</span>
                                            </td>
                                            <td>
                                              1
1                                            </td>
                                            <td class="v-align-middle">
                                              In Process
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                10-10-2015
                                            </td>
                                            <td>Text Books</td>
                                            <td class="v-align-middle">2
                                            </td>
                                            <td><span class="muted">SRI NATHAN</span>
                                            </td>
                                            <td>
                                              3
                                            </td>
                                            <td class="v-align-middle">
                                                Approved
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>

          </div>