<section class="content">
<div class="content sm-gutter">
<ul class="breadcrumb">
          <li>
            <a href="#" class="active">Home</a>
          </li>
          <li>Campus</li>
        </ul>
        <div class="page-title">
          <i onclick="window.location.href='#'" class="icon-custom-left"></i>
          <h3>My CAMPUS</h3>
        </div>
        <div class="   col-sm-6 col-md-6 no-padding">

          <div class=" col-sm-12 col-md-12" ratio="2" data-ratio="true" style="height: 268px;padding:6px 5px 3px 0px;">
            <!-- BEGIN BLOG POST BIG IMAGE WIDGET -->
            <div class="tiles overflow-hidden full-height tiles-overlay-hover m-b-10 widget-item">
              <div class="controller overlay right">
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
              </div>
              <div class="overlayer tiles-overlay auto blue">
                <div class="overlayer-wrapper  p-t-20 p-l-20 p-r-20 p-b-20">
                  <img src="../assets/img/my_campus.png">

                  <p class="p-t-20 text-white-opacity"></p>

                  <p class="p-t-20">
                    <h3 class="text-white">My Campus</h3>
                  </p>
                </div>
              </div>
              <div class="overlayer bottom-left fullwidth">
                <div class="overlayer-wrapper">
                  <div class="tiles gradient-grey p-l-20 p-r-20 p-b-20 p-t-20">

                  </div>
                </div>
              </div>
              <img src="../assets/img/campus/student_profile_img.png" data-src="../assets/img/campus/student_profile_img.png" data-src-retina="../assets/img/campus/student_profile_img.png" alt="" class="image-responsive-width hover-effect-img">
              <!-- END BLOG POST BIG IMAGE WIDGET -->
            </div>

          </div>


          <!-- BEGIN ANIMATED TILE -->
          <div class="col-md-8  col-sm-8  " ratio="2" data-ratio="true" style="height: 268px;padding:5px 5px 3px 0px;"  style="cursor:pointer">
            <div class=" tiles lightred " style="height:100%">
              <div class="p-t-40 p-l-20 p-r-20 p-b-20">
                <div class="col-xs-4 col-sm-4">

                 <a href="#noticeboard" ng-click="go('noticeboard')" >  <img class="hover-effect-img image-responsive-width " alt="" src="../assets/img/campus/notice_board.png"></a>
                </div>
                <div class="col-xs-8 col-sm-8">
                  <div class="sevicespadding">

                    <h3 class="text-white semi-bold no-margin">Notice Board</h3>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <!-- END ANIMATED TILE -->

          <!-- BEGIN ANIMATED TILE -->

          <div class="col-md-4 col-sm-4  " data-aspect-ratio="true" style="height: 268px;padding:5px;"  style="cursor:pointer">
            <div data-mode="carousel" data-delay="4000" data-speed="750" class="slide ha  carousel">
              <div class="ha tiles lightcalender slide active">
                <div class="p-t-20 p-l-20 p-r-20 p-b-20">
                  <div class="col-sm-12">

                    <a ng-click="go('calender')" href="#calender"><img class="hover-effect-img " alt="" src="../assets/img/campus/calendar.png"></a>
                  </div>
                </div>
                <div class="overlayer bottom-left fullwidth p-t-20 p-l-10 p-r-10 ">
                  <div class="overlayer-wrapper">
                    <div class="user-comment-wrapper" style="margin-bottom:-7px;text-align: center">
                      <a href="#calender"><h3 class="text-white semi-bold no-margin">Calendar</h3>
</a>
                      <div class="clearfix  m-b-10"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END ANIMATED TILE -->

          <!-- BEGIN ANIMATED TILE -->
          <div class="col-md-8  col-sm-8  " ratio="2" data-ratio="true" style="height: 268px;padding:5px 5px 3px 0px;"  style="cursor:pointer">
            <div class=" popup-color-purple " style="height:100%">
              <div class="p-t-40 p-l-20 p-r-20 p-b-20">
                <div class="col-xs-4 col-sm-4">

                 <a href="#permanentachiev" ng-click="go('permanentachiev')"> <img class="hover-effect-img " alt="" src="../assets/img/campus/permanent_wall.png"></a>
                </div>
                <div class="col-xs-8 col-sm-8">
                  <div class="">

                    <h3 class="text-white semi-bold no-margin">Permenant Acheivement Wall</h3>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
        <div class="   col-sm-6 col-md-6 no-padding">
          <div class="col-md-6 col-sm-6  " data-aspect-ratio="true" style="height: 268px;padding:5px;"  style="cursor:pointer">
            <div data-mode="carousel" data-delay="4000" data-speed="750" class="slide ha  carousel">
              <div class="ha tiles orange slide active">
                <div class="p-t-20 p-l-20 p-r-20 p-b-20">
                  <div class="col-sm-6">

                    <a  ng-click="go('examsList')"  href="#examsList"> <img class="hover-effect-img " alt="" src="../assets/img/campus/exam.png"></a>
                  </div>
                </div>
                <div class="overlayer bottom-left fullwidth p-t-20 p-l-10 p-r-10 ">
                  <div class="overlayer-wrapper">
                    <div class="user-comment-wrapper">
                      <h3 class="text-white semi-bold no-margin">Examination Management
                        <div class="clearfix  m-b-10"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- BEGIN ANIMATED TILE -->
          <div class="col-md-6 col-sm-6  " data-aspect-ratio="true" style="height: 268px;padding:5px;"  style="cursor:pointer">
            <div data-mode="carousel" data-delay="6000" data-speed="750" class="live-tile slide ha  carousel">
              <div class="ha tiles slide active">
                <div class="p-t-20 p-l-20 p-r-20 p-b-20 smallimg" style="position:absolute">
                  <a  ng-click="go('inventory')"  href="#inventory"> <img src="../assets/img/campus/inventory.png"></a>
                </div>

                <div class="overlayer bottom-left fullwidth">
                  <div class="overlayer-wrapper">
                    <div class=" p-l-20 p-r-20 p-b-20 p-t-20">
                      <h3 class="text-white semi-bold no-margin">Inventory Management</h3>
                    </div>
                  </div>
                </div>
               <a ng-click="go('inventory')"   href="#inventory">  <img class="image-responsive-width xs-image-responsive-width  hover-effect-img" alt="" src="../assets/img/campus/inventory_img_1.png"> </a></div>

            </div>

          </div>
          <!-- END ANIMATED TILE -->


          <!-- BEGIN ANIMATED TILE -->
          <div class="col-md-6  col-sm-6  " data-aspect-ratio="true" style="height: 268px;padding:5px;">
            <div data-mode="carousel" data-delay="6000" data-speed="750" class="live-tile slide ha  carousel">
              <div class="ha tiles slide active">
                <div class="p-t-20 p-l-20 p-r-20 p-b-20 smallimg" style="position:absolute">

                  <img src="../assets/img/campus/admission.png">
                </div>
                <div class="overlayer bottom-left fullwidth">
                  <div class="overlayer-wrapper">
                    <div class="tiles gradient-black p-l-20 p-r-20 p-b-20 p-t-20">
                      <h3 class="text-white semi-bold no-margin">Admission Management</h3>
                    </div>
                  </div>
                </div>
                <img class="image-responsive-width xs-image-responsive-width  hover-effect-img" alt="" src="../assets/img/campus/img_03_01.png"> </div>

            </div>

          </div>
          <!-- END ANIMATED TILE -->


          <!-- BEGIN ANIMATED TILE -->
          <div class="col-md-6  col-sm-6 " data-aspect-ratio="true" style="height: 268px;padding:5px;">
            <div data-mode="carousel" data-delay="4000" data-speed="750" class="slide ha  carousel">
              <div class="ha tiles  lightred  slide active">
                <div class="p-t-20 p-l-20 p-r-20 p-b-20">
                  <div class="col-sm-6">

                  <a ng-click="go('teachers')"  href="#teachers">  <img class="hover-effect-img image-responsive-width" alt="" src="../assets/img/campus/staff_management.png"></a>
				  </div>
                </div>
                <div class="overlayer bottom-left fullwidth p-t-20 p-l-10 p-r-10 ">
                  <div class="overlayer-wrapper">
                    <div class="user-comment-wrapper">
                   <a ng-click="go('teachers')"  href="#teachers">    <h3 class="text-white semi-bold no-margin">Staff Management</h3></a>

                      <div class="clearfix  m-b-10"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- END ANIMATED TILE -->


        </div>
		</div>
		</section>